venv
*~
*.pt
__pycache__
dataset_coco.json
dataset_aic.json
dataset_coco_cn.json
data/*
*.csv
*_script
evaluation/*
slurm-*
flickr30k_test.txt
coco-caption/
train_*/*
res*.json
reformulation_experiment/de/data
reformulation_experiment/de/output
to_delete
