venv
*~
*.pt
__pycache__
dataset_coco.json
dataset_aic.json
dataset_coco_cn.json
data/*
*.csv
*_script
evaluation/*
slurm-*
flickr30k_test.txt
coco-caption/
train_*/*
res*.json
reformulation_experiment/*/data
reformulation_experiment/*/output
reformulation_experiment/*/translated_data
reformulation_experiment/*/infer
reformulation_experiment/*/image_ids
multi30k_*_data.json
to_delete
generalization_experiment/data
generalization_experiment/output
